  
  div.button-nav a {margin-top: 5px;}
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100px;
    border-top: 5px solid #8C8AC1;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    background-color: transparent;
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    body {
      border-left: 35px solid #8C8AC1;
    }
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (max-width: 768px) {
    body {
      border-left: 10px solid #8C8AC1;
    }
  }

  .btn-emily {width: 120px; background-color: #5F5CA2; color: white;}
  .btn-emily-selected {width: 120px; background-color: #2A2772; color:white;}