<img src="http://cdn.hark.com/images/001/176/132/1176132/original.jpg" /><br/>
Drycoff: Are you alright?<br/>
Bashed Cop: I think so...<br/>
Drycoff: Are you sure? 'Cause, you just went through a wall.<br/>