{%extends "base.html"%}

{%block title%}Emily PAC - Admin Articles{%endblock%}


{% block extrastyle %}
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: '#article_text',
    plugins: 'advlist autolink code colorpicker link image lists table textcolor',
    toolbar: 'fontselect fontsizeselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist | link image',
    images_upload_url: 'imageupload',
    images_upload_credentials: true,
    document_base_url : "https://emilypac.org/"
    // images_upload_base_path: '/uploads',
  });
</script>

{% endblock %}

{%block body%}
<div class="container">
  <a href="/" class="btn btn-default">Home Page</a> <a href="/admin" class="btn btn-default">Admin</a>
  {% if msg %}<span class="alert alert-success">{{msg}}</span>{% endif %}
  <h3>Admin Articles</h3>
<form action="/admin/articles" method="POST">
  {% if article %}
  <input name="article_id"  type="hidden" value="{{article.key.id()}}" />

  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" id="title" value="{% if article.title %}{{article.title}}{% endif %}" >
  </div>

  <textarea rows="3" cols="80" name="article_text" id="article_text">{% if article.article_text %}{{article.article_text}}{% endif %}</textarea><br>
  <input name="submit" type="submit" value="Update" class="btn btn-primary" /><br>
  {% else %}
  <div class="form-group">
      <label for="title">Title</label>
      <input name="title" type="text" class="form-control" id="title" value="" >
    </div>
    <textarea rows="3" cols="80" name="article_text" id="article_text"></textarea><br>
    <input name="submit" type="submit" value="Add" class="btn btn-primary" /><br>
  {% endif %}
  </form>
  <br><br>
<table class="table table-condensed">
    <tr><th>Title</th><th>Article Text</th></tr>

{% for article in articles %}
  <tr>
    <td><a href="/admin/articles/{{article.key.id()}}">{{article.title}}</a></td>
    <td>{{article.article_text[0:50]}}...</td>
  </tr>
{% endfor %}
</table>
</div>
{%endblock%}
