{%extends "base.html"%}

{%block title%}Emily PAC - Admin{%endblock%}


{% block extrastyle %}
{% endblock %}

{%block body%}
<div class="container">
    <a href="/" class="btn btn-default">Home Page</a>
  <h3>Admin</h3>

  <form action="" method="POST">
    <table class="table table-condensed">
      <tr><th>Article</th><th>Select</th><th>URL</th><th>Button</th></tr>
      
      <tr><th>Announcements</th><td>
          <select name="article_0">
              <option value=""></option>
              {% for article in articles %}
                <option value="{{article.id}}" {% if article.id == config.config().get("0") %} selected="selected"{% endif %}>{{article.title}}</option>
              {% endfor %}
              </select>
        </td><td></td></tr>
      {% for i in ["1", "2", "3", "4", "5", "6"] %}
      <tr><th>#{{i}}</th><td>
        <select name="article_{{i}}">
            <option value=""></option>
            {% for article in articles %}
              <option value="{{article.id}}" {% if article.id == config.config().get(i) %} selected="selected"{% endif %}>{{article.title}}</option>
            {% endfor %}
            </select>
      </td><td>
            <input name="url_{{i}}" size="20" type="text" value="{{config.config().get("u" + i, "")}}"/>
        </td>
      </td><td>
          <input name="button_text_{{i}}" size="20" type="text" value="{{config.config().get("b" + i, "")}}"/>
      </td></tr>
      {% endfor %}
    </table>
    Admin emails: <textarea name="emails" rows="3" cols="120">{% if config.emails %}{{config.emails}}{% endif %}</textarea><br>
    <input name="submit" type="submit" value="Update" class="btn btn-primary" /><br>
  </form>

  <h3>Articles</h3>
  <a href="/admin/articles" class="btn btn-default">New Article</a>
<table class="table table-condensed">
  <tr><th>Title</th><th>Article Text</th></tr>

{% for article in articles %}
  <tr>
    <td><a href="/admin/articles/{{article.key.id()}}">{{article.title}}</a></td>
    <td>{{article.article_text[0:50]}}...</td>
  </tr>
{% endfor %}
</table>
</div>

{%endblock%}
