{%extends "base.html"%}

{%block title%}Emily PAC{%endblock%}


{% block extrastyle %}
{% endblock %}

{%block body%}

<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
      <a href="/" class="visible-xs-block"><img src="/img/pac-logo-v4-xs.png" alt="Emily PAC" class="visible-xs-block" /></a>
      <a href="/" class="hidden-xs"><img src="/img/pac-logo-v3.png" alt="Emily PAC" class="hidden-xs" /></a>

      <div class="col button-nav">
        {% for button in config.get_buttons() %}
        <a type="button" href="{% if button[2] %}/{{button[2]}}{% else %}/{{button[0]}}{% endif %}" class="btn {% if article and button[0] == article.id %}btn-emily-selected{% else %}btn-emily{% endif %}">{{button[1]}}</a>
        {% endfor %}
      </div>
      
    </div>

    {% if article%}
    <div class="col">
      <h1>{{article.title}}</h1>
      <p class="lead">
          {{article.article_text|safe}}
      </p>
    </div>
    {% endif %}


    <!-- Site footer -->
    <footer class="footer">
        <a href="/admin" class="btn btn-default btn-small">Admin</a>
        &copy; 2018 Emily PAC
    </footer>

  </div> <!-- /container -->

{%endblock%}

{% block extrascripts %}
<script src="https://www.publicalbum.org/js/pa-embed-player.min.js" async></script>
<script>
  gtag('config', 'UA-126383869-1', {'page_title': '{{article.title}}', 'page_path': '/{{article.id}}'});
</script>
{% endblock %}
